@{
    ViewData["Title"] = "Add";
}

<h1 align="center" class="display-4">Add picture to Gallery</h1>

<div class="col-md-4">
    <form asp-controller="Gallery" asp-action="Add" method="post" dash-controller="Files" enctype="multipart/form-data">
        <div>
            <input type="file" name="file" required/>
        </div>
        <br />
        <div>
            <input type="submit" name="Save" value="Upload" class="btn btn-primary" />
        </div>
    </form>
</div>