@model OnlineSlotReports.Web.ViewModels.GalleryViewModels.AllPictureViewModel
@{
    ViewData["Title"] = "Gallery";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="gallery-grid.css">


</head>
<body>

    <div class="container gallery-container">
        <div class="tz-gallery">

            <div class="row" margin="1">
                @foreach (var pic in Model.Pictures)
                {

                    <div class="col-md-4 card" style="width: 18rem;">
                        <a class="lightbox" href="@pic.Url">
                            <img src="@pic.Url" alt="Card image cap" height="200">
                        </a>
                    </div>
                }

            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
</body>
</html>
@section Links{

    <li class="nav-item">
        <a class="nav-link text-dark" href="/SlotMachine/Index/@Model.GamingHallId">Slot machines</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Gallery/Index/@Model.GamingHallId">Gallery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Wins/Index/@Model.GamingHallId">Wins</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/GamingHall/Details/@Model.GamingHallId">Contacts</a>
    </li>

}