@model OnlineSlotReports.Web.ViewModels.SlotMachinesViewModels.InputSlotMachineModel
@{
    ViewData["Title"] = "View";
}
    <div class="col-md-4">
        <form asp-controller="GamingHall" asp-action="Add" method="post">
            <div>
                <label asp-for="LicenseNumber">License Number</label>
                <input asp-for="LicenseNumber" class="form-control" />
                <span asp-validation-for="LicenseNumber" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Model">Molde</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="NumberInHall">NumberInHall</label>
                <input asp-for="NumberInHall" class="form-control" />
                <span asp-validation-for="NumberInHall" class="text-danger"></span>
            </div>
            <br />
            <div>
                <input type="submit" name="Save" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>

