@model OnlineSlotReports.Web.ViewModels.SlotMachinesViewModels.InputSlotMachineModel
@{
    ViewData["Title"] = "View";
}
    <div class="col-md-4 border border-light bg-dark">
        <p class="m-2" align="center">Add Slow machine:</p>
        <form asp-controller="SlotMachine" asp-action="Add" method="post">
            <div>
                <label asp-for="LicenseNumber">License Number</label>
                <input asp-for="LicenseNumber" class="form-control" />
                <span asp-validation-for="LicenseNumber" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Model">Model</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="NumberInHall">Number In Hall</label>
                <input asp-for="NumberInHall" class="form-control" />
                <span asp-validation-for="NumberInHall" class="text-danger"></span>
            </div>
            <br />
            <div>
                <input type="submit" name="Save" value="Save" class="btn btn-primary m-2" />
            </div>
        </form>
    </div>

