@model OnlineSlotReports.Web.ViewModels.GamingHallViewModels.AllGamingHallsViewcomponentModel
@{
    ViewData["Title"] = "Default";
}

@foreach (var hall in Model.GamingHalls)
{
    <div class="row">
        <div class="col-md-8">
            <div>@hall.Adress</div>
            <div>@hall.Town</div>
        </div>
        <div class="col-md-4">
            <div align="right">
                <a asp-controller="GamingHall" asp-action="Index" asp-route-id="@hall.Id" class="btn btn-primary">Visit</a>
            </div>
        </div>
    </div>
    <hr />
}
