@model OnlineSlotReports.Web.ViewModels.EmployeesViewModel.InputEmployeesViewModel
@{
    ViewData["Title"] = "Add";
}

<h1 align="center" class="display-4">Add employee</h1>

<div class="col-md-4">
    <form asp-controller="Employees" asp-action="Add" method="post">
        <div>
            <label asp-for="FullName">Full Name</label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email"  class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="PhoneNumber">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="StartWorkDate"></label>
            <input asp-for="StartWorkDate" class="form-control" />
            <span asp-validation-for="StartWorkDate" class="text-danger"></span>
        </div>
        <br />
        <div>
            <input type="submit" name="Save" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

