@model OnlineSlotReports.Web.ViewModels.EmployeesViewModel.ChangePhoneNumberViewModel
@{
    ViewData["Title"] = "ChangePhoneNumber";
}

<h1 align="center" class="display-4">Change Phone Number</h1>
<div class="col-md-4">
    <form asp-controller="Employees" asp-action="ChangePhoneNumber" method="post">
        <div>
            <label asp-for="PhoneNumber">Enter new phone number:</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <br />
        <div>
            <input type="submit" name="Save" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

