@model OnlineSlotReports.Web.ViewModels.MessageViewModels.IndexMessageViewModel
@{
    ViewData["Title"] = "Index";
}
<ul class="list-group">
    <li class="list-group-item active">@Model.Sender - @Model.Date</li>
    <li class="list-group-item bg-dark">@Model.Content</li>
    <li class="list-group-item bg-dark"><a asp-controller="Message" asp-action="All" asp-route-id="@Model.GamingHallId" class="btn btn-primary">Back</a></li>
</ul>


