@model OnlineSlotReports.Web.ViewModels.GamingHallViewModels.InputGamingHallViewModel
@{
    ViewData["Title"] = "Add";
}
<div class="col-md-4 border border-light bg-light">
    <p class="m-2" align="center">Create new Gaming hall:</p>
    <form asp-controller="GamingHall" asp-action="Add" method="post" dash-controller="Files" enctype="multipart/form-data">
        <div>
            <label class="m4" asp-for="HallName">Hall Name</label>
            <input asp-for="HallName" class="form-control" />
            <span asp-validation-for="HallName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="PhoneNumber">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Adress"></label>
            <input asp-for="Adress" class="form-control" />
            <span asp-validation-for="Adress" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Town"></label>
            <input asp-for="Town" class="form-control" />
            <span asp-validation-for="Town" class="text-danger"></span>
        </div>
        <br>
        <div>
            <input type="file" name="file" />
        </div>
        <br />
        <div>
            <input type="submit" name="Save" value="Save" class="btn btn-primary m-2" align="center"/>
        </div>
    </form>
</div>