@model OnlineSlotReports.Web.ViewModels.GamingHallViewModels.AddElementsViewModel
@{
    ViewData["Title"] = "AddElements";
}

<h1 align="center">Add Elements</h1>
<p>
    <a href="/SlotMachine/Add/@Model.Id" class="btn btn-primary">Add Slot machine!</a>
</p>
<p>
    <a href="/Employees/Add/@Model.Id" class="btn btn-primary">Add Employee!</a>
</p>
<p>
    <a href="/Wins/Add/@Model.Id" class="btn btn-primary">Add Wins!</a>
</p>
<p>
    <a href="/Gallery/Add/@Model.Id" class="btn btn-primary">Add picture!</a>
</p>
