@model OnlineSlotReports.Web.ViewModels.GamingHallViewModels.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h2 align="center">@Model.HallName</h2>
<h2 align="right">Adress: @Model.Adress</h2>
<h2 align="right">Town: @Model.Town</h2>



