
@{
    ViewData["Title"] = "NotFound";
}
    <div>
        <h1 class="m-5" align="center"><strong>404</strong></h1>
        <h1 class="m-5" align="center"><strong>NOT FOUND!</strong></h1>
    </div>
